.Todo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 6px;
}

.Todo > input[type='checkbox'] {
  margin: 16px 0;
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  align-self: flex-start;
  cursor: pointer;
}

.Todo > input[type='checkbox']:checked + div > p {
  text-decoration: line-through;
}

.Todo p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  margin: 16px 0;
}

.CreatedDistance {
  font-size: 10px;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #333333;
}

.TodoTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.DeleteTodo {
  display: flex;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: #bdbdbd;
  font-size: 18px;
  margin: 16px;
  padding: 0;
  margin-left: auto;
}
